body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  min-height: 100vh;
}

canvas{
  cursor: none;
  /* aspect-ratio: 9/16;
  height: 80vh; */
}

.stats{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--bg-light);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.stats * {
  background-color: var(--bg-lighter);
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.stats *:hover {
  border: 2px solid var(--accent-main);
}